menu {
  nav {
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: row;
    position: fixed;
    transition: all 0.5s;
    top: 28px;
    left: 0px;
    z-index: 1000;
  }

  #mobile-menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  #mobile-menu .mobile-logo { width: 150px; }
  #mobile-menu #button-mobile-menu { background: color($colors, secondary); width: 57px; height: 50px; display: flex; justify-content: center; align-items: center; top: 0px; right: 0px; transition: all 0.5s; }
  #mobile-menu #button-mobile-menu:before { content: ""; position: fixed; width:0px; height: 0px; border-left: solid 10px transparent; border-bottom: solid 25px transparent; border-top: solid 25px color($colors, secondary); border-right: solid 10px color($colors, secondary); right: 57px; top: 28px; }
  #mobile-menu #button-mobile-menu #burger-menu { background: white; width: 29px; height: 2px; }
  #mobile-menu #button-mobile-menu #burger-menu:before { background: white; width: 18px; height: 2px; position: fixed; top: calc(17px + 28px); content: ""; right: 14px; }
  #mobile-menu #button-mobile-menu #burger-menu:after { background: white; width: 24px; height: 2px; position: fixed; top: calc(31px + 28px); content: ""; right: 14px; }

  #mobile-menu .nav-link-container { position: fixed; top: 0px; left: 101vw; display: flex; flex-direction: column; transition: all 0.5s; background: color($colors, secondary); width: 100vw; height: 100vh; padding-top: 50px; }
  #mobile-menu .nav-link-container p { color: rgba(255,255,255,0); margin-left: 60vw; transition: all 0.5s; }
  #mobile-menu .nav-link-container .primary-style:after, .secondary-style:after { content: ""; position: relative; width: 0px; height: 2px; background: rgba(255,255,255,0.7); transition: all 0.5s; display: block; }
  #mobile-menu .nav-link-container .primary-style:hover:after { width: 70px;}
  #mobile-menu .nav-link-container .primary-style { color: rgba(255,255,255,0.7); font-size: 1.4rem; margin-left: 27vw; margin-top: 20px; }
  #mobile-menu .nav-link-container .secondary-style { letter-spacing: 0px; font-size: 1.2rem; margin-left: calc(27vw + 10px); color: rgba(255,255,255,0.5); margin-top: 3px; }
  #mobile-menu .nav-link-container .primary-link { font-family: 'Roboto Condensed', sans-serif; font-style: italic;
 font-size: 26px; text-transform: uppercase; margin-top: 20px; margin-bottom: 0px!important;text-decoration: none; }
  #mobile-menu .nav-link-container .secondary-link { letter-spacing: 0px; font-size: 1.2rem; margin-top: 3px; }
  #mobile-menu .nav-link-container .secondary-style:after { height: 1px; background: rgba(255,255,255,0.5); }
  #mobile-menu .nav-link-container .secondary-style:hover:after { width: 40px; }

  #mobile-menu .close-menu { position: relative; top: -15px; left: 29px; width: 30px; height: 3px; background: white; border-radius: 30px; transform: rotate(45deg); }
  #mobile-menu .close-menu:after { content: ""; display: block; position: relative; width: 30px; height: 3px; background: white; border-radius: 30px; transform: rotate(90deg); }

  .delayed-one { transition-delay: 0.3s !important; }
  .delayed-two { transition-delay: 0.4s !important; }
  .delayed-three { transition-delay: 0.5s !important; }
  .delayed-for { transition-delay: 0.6s !important; }
  .delayed-five { transition-delay: 0.7s !important; }
  .delayed-six { transition-delay: 0.8s !important; }
  .delayed-seven { transition-delay: 0.9s !important; }
  .delayed-height { transition-delay: 1s !important; }
  .delayed-nine { transition-delay: 1.1s !important; }
  .delayed-ten { transition-delay: 1.2s !important; }
  .delayed-eleven { transition-delay: 1.3s !important; }
  .delayed-twelve { transition-delay: 1.4s !important; }
  .delayed-thirdteen { transition-delay: 1.5s !important; }
  .delayed-forteen { transition-delay: 1.6s !important; }
  .delayed-fifteen { transition-delay: 1.7s !important; }
  .delayed-sixteen { transition-delay: 1.8s !important; }
  .delayed-seventeen { transition-delay: 1.9s !important; }
  .delayed-heighteen { transition-delay: 2s !important; }
  .delayed-nineteen { transition-delay: 2.1s !important; }
  .delayed-twenty { transition-delay: 2.2s !important; }

  .container-sponsor { position: fixed; top: 0px; left: 0px; width: 100%; display: flex; justify-content: center; z-index: 10; background: white; }
  .sponsors-logo { height: 28px; width: auto; }

  .signup {
    margin-top: 50px;
    background: color($colors, secondary);
    border: solid 3px white;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px 20px;
    font-size: 30px;
    width: 215px;
    margin-left: 27vw;
    transition: all 0.5s;
  }
  .signup:hover {
    color: color($colors, secondary);
    background: white;
  }
}
